@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  /* Slate 900 */

  --primary: #0f172a;
  --primary-foreground: #f8fafc;
  /* Slate 50 */

  --secondary: #f1f5f9;
  /* Slate 100 */
  --secondary-foreground: #0f172a;

  --accent: #3b82f6;
  /* Blue 500 */
  --accent-foreground: #ffffff;

  --muted: #94a3b8;
  /* Slate 400 */
  --muted-foreground: #f8fafc;

  --border: #e2e8f0;
  /* Slate 200 */
  --input: #e2e8f0;
  --ring: #3b82f6;

  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  --font-family-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    /* Slate 950 */
    --foreground: #f8fafc;

    --primary: #f8fafc;
    --primary-foreground: #0f172a;

    --secondary: #1e293b;
    /* Slate 800 */
    --secondary-foreground: #f8fafc;

    --accent: #3b82f6;
    --accent-foreground: #ffffff;

    --muted: #64748b;
    /* Slate 500 */
    --muted-foreground: #f8fafc;

    --border: #1e293b;
    --input: #1e293b;
    --ring: #3b82f6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}